/* 作用于 .customer-list 内的样式 */
.customer-list .table-responsive {
  width: 100%;
  margin-bottom: 1.5rem;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.customer-list .table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.customer-list .table th,
.customer-list .table td {
  padding: 1rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.customer-list .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.customer-list .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.customer-list .table-bordered {
  border: 1px solid #dee2e6;
}

.customer-list .table-bordered th,
.customer-list .table-bordered td {
  border: 1px solid #dee2e6;
}

.customer-list .table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.customer-list .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.customer-list .btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.customer-list .btn {
  margin-left: 5px;
}

.customer-list .table td, 
.customer-list .table th {
  text-align: center;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .customer-list .table-responsive {
      overflow-x: auto;
  }
}