.customer-list-container {
  padding: 20px;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #343a40;
  color: white;
  z-index: 1;
  text-align: center;
  padding: 10px;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  transition: background-color 0.3s ease;
}

.table tr:hover {
  background-color: #f1f1f1; /* 鼠标悬停行变色 */
}

.loading-indicator {
  text-align: center;
}