/* src/components/Home.css */
.home-container {
  color: white; /* 确保文字可见 */
  text-align: center;
}

h1 {
  color: white;
}

p.lead {
  font-size: 1.5rem;
  color: #ddd;
}

.btn-primary {
  padding: 10px 30px;
}

.vh-100 {
  height: 100vh; /* 确保组件占满整个视窗 */
}