/* 通用设置 */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

/* 容器设置 */
.container {
    max-width: 2200px;
    margin: 0 auto;
    padding: 20px;
}

/* 标题样式 */
h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

/* 表格样式 */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

/* 表头样式 */
.table thead th {
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 12px 15px;
    border-bottom: 2px solid #ddd;
    position: sticky;
    top: 0; /* 表头固定在顶部 */
    z-index: 10; /* 确保表头显示在滚动内容之上 */
}

/* 表格单元格样式 */
.table tbody td {
    text-align: center;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 0.8rem;
}

/* 奇数行背景色 */
.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* 表格响应式设计 */
.table-responsive {
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* 分页样式 */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination .page-link {
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination .page-link:hover {
    background-color: #007bff;
    color: white;
}

.pagination .active .page-link {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.pagination .disabled .page-link {
    color: #aaa;
    pointer-events: none;
}


/* 按钮样式 */
.button {
    padding: 8px 16px;
    background-color: #007bff;
    color: rgb(182, 12, 12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}