/* library_dashboard */


body {
    font-family: Arial, Helvetica, sans-serif; /* 字体 */
    margin: 0; /* 外边距 */
    padding: 0%; /* 内边距 */
    color: #333; /* 文字颜色 */
    background: url("{% static 'images/pexels.jpg' %}") no-repeat center center fixed;
}

/* 容器 */
.container {
    max-width: 1200px; /* 最大宽度 */
    margin: 0 auto; /* 外边距 */
    padding: 20px; /* 内边距 */
    
}

/* 标题 */
.title {
    text-align: center; /* 文字居中 */
    font-size: 2em; /* 字体大小 */
    margin-bottom: 20px; /* 下边距 */
    color:#fefefe; /* 文字颜色 */
}

.admin-actions {
    text-align: center; /* 文字居中 */
    margin-bottom: 20px; /* 下边距 */
    font-family: Arial, Helvetica, sans-serif; /* 字体 */
    
}


/* 按钮 */
.action-button {
    display: inline-block; /* 行内块元素 */
    padding: 8px 30px; /* 内边距 */
    margin: 0 10px; /* 外边距 */
    font-size: 1em; /* 字体大小 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 边框圆角 */
    cursor: pointer; /* 鼠标样式 */
    text-align: center; /* 文字居中 */
    text-decoration: none; /* 文字无下划线 */
    color: #fff; /* 文字颜色 */
    background-color: #007bff; /* 背景颜色 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影 */
}



.search-container {
    background-color: #fff; /* 背景颜色 */
    padding: 20px; /* 内边距 */
    border-radius: 10px; /* 边框圆角 */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); /* 阴影 */
    margin-bottom: 20px; /* 下边距 */
}

.search-input {
    width: calc(100% - 120px); /* 宽度 */
    padding: 15px; /* 内边距 */
    font-size: 1em; /* 字体大小 */
    border: 1px solid #ddd; /* 边框 */
    border-radius: 20px; /* 边框圆角 */
    margin-right: 20px; /* 左边距 */
    background-color: #f1f1ec;

}

.search-input:hover {
    border-color: #007bff; /* 鼠标悬停边框颜色 */
}

.search-button {
    padding: 10px 12px; /* 内边距 */
    font-size: 1em; /* 字体大小 */
    border: none; /* 无边框 */
    border-radius: 10px; /* 边框圆角 */
    cursor: pointer; /* 鼠标样式 */
    text-align: center; /* 文字居中 */
    text-decoration: none; /* 文字无下划线 */
    color: #fff; /* 文字颜色 */
    background-color: #007bff; /* 背景颜色 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影 */
}
.search-button:hover {
    background-color: #e0a800; /* 鼠标悬停背景颜色 */
}

.tag-filter {
    margin-top: 20px; /* 上边距 */
    background-color: rgb(251, 251, 251);
}

.tag-filter h3 {
    font-size: 1.2em; /* 字体大小 */
    margin-bottom: 10px; /* 下边距 */
    color: #555; /* 文字颜色 */
    margin-left: 5px;
}

.tag-filter ul {
    font-size: 1em; /* 字体大小 */
}

.footer {
    text-align: right; /* 文字居中 */

}

.footer .back-button {
    padding: 10px 15px; /* 内边距 */
    font-size: 0.9em; /* 字体大小 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 边框圆角 */
    background-color: #007bff; /* 背景颜色 */
    color: #fff; /* 文字颜色 */
    text-decoration: none; /* 文字无下划线 */
    cursor: pointer; /* 鼠标样式 */
    margin-right: 0px;
}

.back-button:hover {
    background-color: #e0a800;
}