<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选择页面</title>
    {% load static %}
    <!-- 引入 dashboard.css -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="container">
        <h2>欢迎进入南昌摩尔狮CRM系统</h2>
        <p class="welcome-message">欢迎销冠 {{ user.username }}，努力一定会有收获！</p>
        <a href="{% url 'customerlist' %}" class="button customer-list">客户列表</a>
        <a href="{% url 'data_analysis' %}" class="button data-analysis">数据分析</a>
        <a href="{% url 'daily_report' %}" class="button daily-report">报表系统</a>
        <a href="{% url 'mobile_view' %}" class="button mobile-version">手机端</a>
        <a href="{% url 'closed_customer_detail' %}" class="button closed_customer_detail">成交客户详情</a>
    </div>
</body>
</html>