<table>
    <thead>
        <tr>
            <th>学员期数</th>
            <th>是否接通</th>
            <th>是否邀约</th>
            <th>是否加微信</th>
            <th>是否入群</th>
            <th>是否成交</th>
            <th>本期学员总数</th>
        </tr>
    </thead>
    <tbody id="data-rows">
        <!-- 表格内容将通过 JavaScript 动态加载 -->
    </tbody>
    <tfoot>
        <tr class="footer-row">
            <td>汇总</td>
            <td id="total-contacted"></td>
            <td id="total-invited"></td>
            <td id="total-wechat"></td>
            <td id="total-joined"></td>
            <td id="total-closed"></td>
            <td id="overall-total"></td>
        </tr>
    </tfoot>
</table>